snippet temp "tepmlate" iA
#include <iostream>
using namespace std;
int main(){
    $0
    return 0;
}
endsnippet
snippet sep "learn cpp seperate sub section" iA
cout << "\n===== Scientific Number =====\n";
endsnippet
